@import url("./mainColors.css");
.register-page {
  background-color: var(--main-bg-color);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.register-page .container {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  justify-content: center;
}
.register-page .spotify-logo {
  width: 7%;
  margin-top: 30px;
  margin-bottom: 35px;
}

.register-page .login-with {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.register-page input {
  padding: 15px;
  font-size: 15px;
  width: 100%;
  height: 2.5rem;
  background-color: transparent;
  border: 1px solid var(--outline-grey);
  border-radius: 6px;
  outline: none;
  transition: border-color 0.3s ease;
  color: white;
}
.register-page input:hover {
  border: 1px solid white;
}
.register-page input:focus {
  border: 2px solid white;
}
.register-page .submit {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}
.register-page .submit-button {
  background-color: var(--spotify-green);
  width: 48%;
  height: 95%;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 600;
  transition: width 0.3s ease, height 0.3s ease;
  cursor: pointer;
}
.register-page .submit-button:hover {
  width: 50%;
  height: 100%;
}
